<section>
  <img src="/images/adam-avatar.jpg">
  <p>A Nottingham based entrepreneur and developer. Husband, father, cyclist &amp; wannabe rock guitarist as time allows.</p>
  <p>
    You may know me from
  </p>
  <ul>
    <li><a href="http://www.onediary.com"><img src="/images/onediary.png" width="40px" alt="One Diary logo" class="left"/>One Diary: get everything into your calendar</a></li>
    <li><a href="http://www.esendex.co.uk"><img src="/images/esendex-logo.jpg" width="40px" alt="Esendex logo" class="left"/>Esendex: every message matters</a></li>
  </ul>
  <ul>
    <li><a href="https://twitter.com/adambird" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @adambird</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>
  <li><a href="http://uk.linkedin.com/in/adambird" style="white-space: normal;">
    <img src="http://www.linkedin.com/img/webpromo/btn_viewmy_120x33.png" width="120" height="33" border="0" alt="View Adam Bird's profile on LinkedIn"></a></li>
  </ul>
</section>
