<section>
  <img src="/images/adam-avatar.jpg">
  <p>A Nottingham based software developer, entrepreneur and cyclist you may know from such productions as:</p>
  <ul>
    <li><a href="http://www.esendex.co.uk"><img src="/images/esendex-logo.jpg" width="40px" alt="Esendex logo" class="left"/>Esendex: international text messaging service provider</a></li>
    <li><a href="http://www.bunch.cc"><img src="/images/bunch-rides-logo.png" width="40px" alt="Bunch Rides logo" class="left"/>Bunch Rides: cycling training diary &amp; bike ride organiser</a></li>
    <li><a href="http://evenitron.com"><img src="/images/evenitron-logo.png" width="40px" alt="Evenitron logo" class="left"/>Evenitron: resque and delayed_job monitoring</a></li>
  </ul>
  <ul>
    <li><a href="https://twitter.com/adambird" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @adambird</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>
  <li><a href="http://uk.linkedin.com/in/adambird">
    <img src="http://www.linkedin.com/img/webpromo/btn_viewmy_120x33.png" width="120" height="33" border="0" alt="View Adam Bird's profile on LinkedIn"></a></li>
  </ul>
</section>
